<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'area_usuario_home.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Área do usuario

    {% for projetos in projetos_usuario %}
        <p>{{ projetos.projeto }}</p>
        <p> {% for links in projetos.links_projetos_set.all %}
            <a href="{{ links.link }}" target="_blank"> {{ links.nome_link }} </a>
        {% endfor %}</p>
    {% endfor %}
    

    <a href="{{ url_sair }}">Sair</a>
</body>
</html>