<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Projeto</title>
</head>
<body>
    <form action="" method="POST"> {% csrf_token %}
        <select name="usuario" id="usuario" class="usuario">
            {% for usuarios in todos_usuarios %}
            <option value="{{ usuarios.nome }}">{{ usuarios.nome }}</option>
            {% endfor %}
        </select>
        <input type='text' name='projeto' class="projeto" placeholder='Projeto'>
        <input type="text" name='links' class="links" placeholder="Links">
        <input type="Submit" value="ENVIAR">
    </form> 
</body>
</html>